pipeline/PL_Incrementalload_Watermark.json
{
	"name": "PL_Incrementalload_Watermark",
	"properties": {
		"activities": [
			{
				"name": "OldWatermarkValue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT waterMarkVal\nFROM [dbo].[WaterMark]\nWHERE tableName = '@{pipeline().parameters.finalTableName}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable_CT",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "NewWatermarkValue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_Student_Source_BLOB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CopyToStageTable",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "OldWatermarkValue",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "NewWatermarkValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from @{pipeline().parameters.srcTableName}\nwhere @{pipeline().parameters.waterMarkCol} > \n'@{activity('lookupOldWaterMark').output.firstRow.waterMarkVal}' \nand @{pipeline().parameters.waterMarkCol} <= \n'@{activity('lookupNewWaterMark').output.firstRow.NewwaterMarkVal}'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "TRUNCATE TABLE @{pipeline().parameters.stgTableName}",
							"type": "Expression"
						},
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"studentId"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_MasterdataDBTableStudent",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_stgStudent_Destination",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "uspUpsertStudent",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyToStageTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "dbo.usp_upsert_Student "
				},
				"linkedServiceName": {
					"referenceName": "LK_AzureSqlDatabase1_output",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "uspUpdateWatermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "uspUpsertStudent",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@{activity('NewWatermarkValue').output.firstRow.NewwaterMarkVal}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@{pipeline().parameters.finalTableName}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LK_AzureSqlDatabase1_output",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"finalTableName": {
				"type": "string",
				"defaultValue": "Student"
			},
			"srcTableName": {
				"type": "string",
				"defaultValue": "Student"
			},
			"waterMarkCol": {
				"type": "string",
				"defaultValue": "updateDate"
			},
			"stgTableName": {
				"type": "string",
				"defaultValue": "stgStudent"
			},
			"storedProcUpsert": {
				"type": "string",
				"defaultValue": "usp_upsert_Student"
			},
			"storedProcWaterMark": {
				"type": "string",
				"defaultValue": "usp_update_WaterMark"
			}
		},
		"annotations": []
	}
}