pipeline/PL_TablesBulkCopy_Foreach.json
{
	"name": "PL_TablesBulkCopy_Foreach",
	"properties": {
		"description": "Copy multiple tables in bulk with Lookup and For Each",
		"activities": [
			{
				"name": "Lkmultipletabs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT\r\n  *\r\nFROM\r\n  ACARDB.INFORMATION_SCHEMA.TABLES\r\nWHERE table_type = 'BASE TABLE'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachBullkCopy",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lkmultipletabs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lkmultipletabs').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ExportToCSV",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": {
											"value": "@item()",
											"type": "Expression"
										}
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".CSV"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SqlTables",
									"type": "DatasetReference",
									"parameters": {
										"Table_Nm": "@item().TABLE_NAME",
										"Schema_Nm": "@item().TABLE_SCHEMA"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "GenaricCSV_Output",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@concat(item().Table_Schema,'_',item().Table_Name,'.CSV')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"tablenames": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}